@import '@scss-mixins/adaptive';

.layout-header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 4px 4px;

  .content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include adaptive-mixin(sm) {
      flex-wrap: wrap;
      gap: 8px;
    }

    .left-panel {
      width: 100%;
      display: flex;

      .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary);

        & > img {
          height: 48px;
        }
      }
    }

    .right-panel {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;

      .center-panel {
        .map {
          display: flex;
          gap: 8px;
        }
      }

      .admin-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .language-toggle {
          margin-top: 4px;

          :deep(.label) {
            width: 20px;
            font-family: "Tech Special", sans-serif;
            font-style: normal;
          }
        }
      }
    }
  }
}