.layout-header {
  width: 100%;

  .content {
    max-width: 1600px;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Corbel;
      color: #8052F6;

      & > img {
        height: 48px;
      }
    }
  }
}