.project-card-new {
  padding: 8px;
  border: 1px dashed var(--secondary-up);
  border-radius: 8px;
  cursor: pointer;
  transition: var(--fast-transition);

  &:hover {
    border-color: var(--primary);
  }
}