.resume-edit-companies-list {
  .company-block {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > .company-input {
      display: flex;
      gap: 8px;

      & > .psi-input {
        width: 270px;
      }

      & > .psi-button {
        margin-top: 24px;
        height: 24px;
      }
    }

    & > .psi-input {
      width: 300px;
    }

    & > .psi-textarea {
      width: 300px;
    }
  }

  .company-actions {
    margin-top: 16px;
  }
}