.resume-card {
  padding: 4px 8px;
  border: 1px solid var(--tertiary);
  border-radius: 4px;

  &:hover {
    border-color: var(--tertiary-up);
    transition: var(--default-transition);
  }

  & > a {
    text-decoration: none;
    color: var(--font-color);
  }
}