body {
  background: var(--background-body);
}

.font-color {
  color: var(--font-color);
}

.primary-up {
  color: var(--primary-up);
}

.primary {
  color: var(--primary);
}

.primary-down {
  color: var(--primary-down);
}

.secondary-up {
  color: var(--secondary-up);
}

.secondary {
  color: var(--secondary);
}

.secondary-down {
  color: var(--secondary-down);
}

.tertiary-up {
  color: var(--tertiary-up);
}

.tertiary {
  color: var(--tertiary);
}

.tertiary-down {
  color: var(--tertiary-down);
}