@mixin body() {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@mixin caption() {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

@mixin hint() {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.64px;
}

h2, .h2 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.48px;
}

h3, .h3 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

h4, .h4 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.body-regular {
  @include body;
  font-weight: 400;
}

.caption-regular {
  @include caption;
  font-weight: 400;
}

.hint-regular {
  @include hint;
  font-weight: 400;
}

a {
  color: var(--primary);

  &:hover {
    color: var(--primary-up);
  }
}

.typography-block {
  color: var(--font-color);

  h1 {
    margin-bottom: 18px;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 48px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin-top: 32px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @include body;
    margin-bottom: 0.8em;
  }

  @mixin image-mixin() {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  @include image-mixin();

  ul {
    display: block;
    list-style-type: disc;
    margin: 4px 0 1em;
    padding-left: 40px;

    ul {
      @include caption;
      list-style-type: circle;

      ul {
        @include caption;
        list-style-type: square;
      }
    }
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    padding-left: 40px;

    ol {
      list-style-type: lower-latin;

      ol {
        list-style-type: lower-roman;
      }
    }
  }

  li {
    @include caption;
    display: list-item;

    &:not(:last-child) {
      padding-bottom: 0.2em;
    }
  }

  i {
    font-style: italic;
  }

  strong {
    font-style: inherit;
    font-weight: bolder;
  }

  u {
    font-style: inherit;
    text-decoration: underline;
  }

  s {
    font-style: inherit;
    text-decoration: line-through;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    overflow: hidden;
    padding-left: 1.5em;
    border-left: solid 5px var(--faint-strong-down);
  }

  pre {
    &.shiki {
      position: relative;
      z-index: 1;
      padding: 1.5rem 0;
      background: transparent;
      border-radius: 0.5rem;
      overflow-x: auto;
      margin-bottom: 1rem;

      &.has-focused {
        .line {
          &:not(.focused) {
            opacity: 0.7;
            transition:
                    filter 0.35s,
                    opacity 0.35s;
            filter: blur(1.25px);
          }
        }

        &:focus, &:hover {
          .line {
            &:not(.focused) {
              opacity: 1;
              filter: blur(0);
            }
          }
        }
      }

      code {
        display: block;
        padding: 0 1.5rem;
        transition: color 0.5s;

        .diff, .highlighted {
          transition: background-color 0.5s;
          margin: 0 -1.5rem;
          padding: 0 1.5rem;
          width: 100%;
          display: inline-block;
        }

        .diff {
          &::before {
            position: absolute;
            left: 10px;
          }

          &.add {
            background-color: rgba(70, 149, 74, 0.15);
          }

          &.add::before {
            content: '+';
            color: #57ab5a;
          }

          &.remove {
            background-color: rgba(229, 83, 75, 0.1);
            opacity: 0.7;

            &::before {
              content: '-';
              color: #f47067;
            }
          }
        }

        .highlighted {
          background-color: rgba(99, 110, 123, 0.1);

          &.error {
            background-color: rgba(229, 83, 75, 0.15);
          }

          &.warning {
            background-color: rgba(174, 124, 20, 0.15);
          }
        }
      }

      .highlighted-word {
        background-color: rgba(65, 132, 228, 0.4);
        border: 1px solid rgba(65, 132, 228, 0.6);
        padding: 1px 3px;
        margin: -1px -3px;
        border-radius: 4px;
      }
    }
  }
}