@mixin body() {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@mixin caption() {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

@mixin hint() {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.64px;
}

h2, .h2 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.48px;
}

h3, .h3 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

h4, .h4 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.body-regular {
  @include body;
  font-weight: 400;
}

.caption-regular {
  @include caption;
  font-weight: 400;
}

.hint-regular {
  @include hint;
  font-weight: 400;
}

a {
  color: var(--primary);

  &:hover {
    color: var(--primary-up);
  }
}

.typography-block {
  color: var(--font-color);
}