@mixin body() {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@mixin caption() {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

@mixin hint() {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.64px;
}

h2, .h2 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.48px;
}

h3, .h3 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

h4, .h4 {
  font-family: 'Tech Special', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.body-regular {
  @include body;
  font-weight: 400;
}

.caption-regular {
  @include caption;
  font-weight: 400;
}

.hint-regular {
  @include hint;
  font-weight: 400;
}

a {
  color: var(--primary);

  &:hover {
    color: var(--primary-up);
  }
}

.typography-block {
  color: var(--font-color);

  h1 {
    margin-bottom: 18px;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 48px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin-top: 32px;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @include body;
    margin-bottom: 0.8em;
  }

  @mixin image-mixin() {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  @include image-mixin();

  ul {
    display: block;
    list-style-type: disc;
    margin: 4px 0 1em;
    padding-left: 40px;

    ul {
      @include caption;
      list-style-type: circle;

      ul {
        @include caption;
        list-style-type: square;
      }
    }
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    padding-left: 40px;

    ol {
      list-style-type: lower-latin;

      ol {
        list-style-type: lower-roman;
      }
    }
  }

  li {
    @include caption;
    display: list-item;

    &:not(:last-child) {
      padding-bottom: 0.2em;
    }
  }

  i {
    font-style: italic;
  }

  strong {
    font-style: inherit;
    font-weight: bolder;
  }

  u {
    font-style: inherit;
    text-decoration: underline;
  }

  s {
    font-style: inherit;
    text-decoration: line-through;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    overflow: hidden;
    padding-left: 1.5em;
    border-left: solid 5px var(--faint-strong-down);
  }
}