:root {
  --background-header: #424368;
  --background-body: #393943;
  --background-footer: #22222E;

  --primary: #22222E;
  --secondary: #393A5A;
  --tertiary: #706F8E;
  --quaternary: #ADA9BA;
  --font-color: #E9E9E9;
}