:root {
  --background-header: #1c1c35;
  --background-body: #1c1c35;
  --background-footer: #22222E;

  --primary-up: #9a6efd;
  --primary: #8052F6;
  --primary-down: #6c33ff;

  --secondary-up: #6a6ca6;
  --secondary: #393A5A;
  --secondary-down: #232337;

  --tertiary-up: #9493bc;
  --tertiary: #706F8E;
  --tertiary-down: #434355;

  --quaternary: #ADA9BA;

  --success: #0c8500;

  --critical: #d30000;

  --font-color: #E9E9E9;

  --default-transition: 0.3s ease-out;
  --fast-transition: 0.1s ease-out;

  --base-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}