.flat-layout {
  & > header {
    padding: 4px 0;
    background: var(--background-header);
  }

  & > article {
    padding: 0 8px;
    max-width: 1200px;
    min-height: calc(100vh - 65px);
    margin: 0 auto;
    background: var(--background-body);
    display: flex;
  }
}