@import '@scss-mixins/adaptive';

.project-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--secondary-up);
  border-radius: 8px;
  color: var(--font-color);
  text-decoration: none;

  &:hover {
    border-color: var(--primary);
    transition: var(--default-transition);

    .header {
      .actions {
        transition: var(--default-transition);
        opacity: 1;
        width: auto;
        gap: 4px;

        .psi-button {
          width: auto;
        }
      }
    }
  }

  &.hidden {
    border-style: dashed;
  }

  .header {
    display: flex;
    justify-content: space-between;

    &-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .actions {
      opacity: 0;
      width: 0;
      display: flex;

      .psi-button {
        width: 0;
      }

      @include adaptive-hover() {
        opacity: 1;
        width: auto;
      }
    }
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 100%;
  }

  & > footer {
    display: flex;
    justify-content: flex-end;

    .date {
      display: flex;
      gap: 4px;
    }
  }
}