.psi-input-numeric {
  & > label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > input {
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid var(--secondary);
      background-color: var(--secondary-down);
      color: var(--font-color);

      &:hover {
        border-color: var(--secondary-up);
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        display: none;
      }
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  &.disabled {
    pointer-events: none;

    & > label {
      & > input {
        border: 1px solid var(--secondary-down);
        background-color: var(--tertiary-down);
      }
    }
  }

  .error-text {
    margin-top: 4px;
    color: var(--critical);
  }
}