@import '@scss-mixins/adaptive';

.footer-link {
  width: 20px;
  transition: var(--default-transition);

  &:hover {
    width: 8em;
  }

  & > a {
    display: flex;
    gap: 4px;
    text-decoration: none;

    white-space: nowrap;
    overflow: hidden;
  }

  @include adaptive-mixin(sm) {
    & {
      width: 8em;
    }
  }
}