.about-page {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 800px;
  align-items: center;

  .actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .resume-button {
      width: 80px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      margin-top: 8px;
      text-align: justify;
    }
  }
}