@import '@scss-mixins/adaptive';

.projects-list {
  padding-top: 60px;
  color: var(--font-color);

  .header {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .projects-list-toggle {
      position: absolute;
      right: 0;
      width: 104px;
    }
  }
}