@import '@scss-mixins/adaptive';

.resume-edit-work-exp-tab {
  width: 100%;

  .actions {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    .action-button {
      width: 140px;
    }
  }

  .content {
    & > h3 {
      margin-bottom: 16px;
    }

    .companies {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .company-block {
        display: flex;
        gap: 40px;

        @include adaptive-mixin(s) {
          flex-wrap: wrap;
        }
      }
    }

    & > form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .resume-edit-companies-list {
        margin-top: 20px;
      }

      .actions {
        display: flex;
        justify-content: center;
        margin-top: 8px;
      }
    }
  }
}