@import '@scss-mixins/adaptive';

.resume-card {
  padding: 4px 8px;
  border: 1px solid var(--tertiary);
  border-radius: 4px;
  transition: var(--default-transition);
  height: 64px;
  text-decoration: none;

  &:hover {
    border-color: var(--tertiary-up);

    .actions {
      opacity: 1;
    }
  }

  & > section {
    color: var(--font-color);

    & > header {
      display: flex;
      justify-content: space-between;
      gap: 8px;

      & > h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      .actions {
        display: flex;
        opacity: 0;
        transition: var(--default-transition);

        @include adaptive-mixin(sm) {
          opacity: 0.5;
        }
      }
    }

    .content {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}