@import '@scss-mixins/adaptive';

.files-storage {
  padding-top: 60px;
  color: var(--font-color);

  & > h2 {
    text-align: center;
    margin-bottom: 12px;
  }

  .content {
    .storage-info-graphic {
      display: flex;
      flex-direction: column;
      max-width: 300px;

      .total-size {
        align-self: center;
      }

      .line {
        min-height: 12px;
        width: 100%;
      }

      .graphic {
        flex: 1;
        display: flex;

        .occupied {
          display: flex;
          flex-direction: column;
          flex: 1;

          .line {
            background-color: var(--tertiary-down);
          }
        }

        .free-space {
          height: 100%;

          .line {
            background-color: var(--primary);
          }
        }
      }
    }

    .files {
      width: 100%;

      .file-upload-area {
        margin-top: 20px;
      }

      .files-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));;
        gap: 8px;

        @include adaptive-mixin(sm) {
          grid-template-columns: repeat(1, minmax(0, 1fr));;
        }
      }

      .empty-files-placeholder {
        padding: 8px;
        border: 1px solid var(--secondary-up);
        border-radius: 6px;
      }
    }
  }
}