.psi-textarea {
  width: 100%;

  & > label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > textarea {
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid var(--secondary);
      background-color: var(--secondary-down);
      color: var(--font-color);
      overflow: auto;
      overflow-x: hidden;
      resize: none;
      transition: var(--fast-transition);

      &::-webkit-scrollbar {
        width: 6px;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--primary-up);
        cursor: pointer;
      }

      &:hover {
        border-color: var(--secondary-up);
        transition: var(--fast-transition);

        &::-webkit-scrollbar {
          display: initial;
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;

    & > label {
      & > textarea {
        border: 1px solid var(--secondary-down);
        background-color: var(--tertiary-down);
      }
    }
  }

  .error-text {
    margin-top: 4px;
    color: var(--critical);
  }
}