.psi-textarea {
  width: 100%;

  & > label {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > textarea {
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid var(--secondary);
      background-color: var(--secondary-down);
      color: var(--font-color);
      scrollbar-width: thin;
      overflow: auto;
      overflow-x: hidden;

      &:hover {
        border-color: var(--secondary-up);
      }
    }
  }

  &.disabled {
    pointer-events: none;

    & > label {
      & > textarea {
        border: 1px solid var(--secondary-down);
        background-color: var(--tertiary-down);
      }
    }
  }

  .error-text {
    margin-top: 4px;
    color: var(--critical);
  }
}