@import '@scss-mixins/adaptive';

.resume-list {
  .actions {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;

    .edit-button {
      width: 128px;
    }
  }

  .content {
    & > h2 {
      text-align: center;
      margin-bottom: 12px;
    }

    .resumes {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));;
      gap: 8px;

      @include adaptive-mixin(s) {
        grid-template-columns: 1fr;
      }
    }
  }
}