$rt-namespace: 'Toastify';

:root {
  //--toastify-color-dark: var(--base-strong);
}

.#{$rt-namespace}__toast-container {
  min-width: 400px;

  .#{$rt-namespace}__toast {
    background-color: var(--secondary-down);
    border: 1px solid var(--secondary);
    border-radius: 4px;

    .#{$rt-namespace}__close-button {
      color: var(--primary);

      &:hover {
        color: var(--primary-up);
      }
    }
  }
}