.resume-view {
  width: 100%;
  text-align: center;

  .actions {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .action-button {
      width: 140px;
    }
  }

  .content {
    .profile {
      padding-left: 8px;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      border-left: 2px solid var(--secondary-up);

      .fio {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 8px;
        align-items: flex-start;
      }

      .contacts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;

        .website-logo {
          max-width: 18px;
        }

        .contact-item {
          display: flex;
          & > a {
            display: flex;
            gap: 4px;
            align-items: center;
          }
        }
      }
    }

    .about {
      margin-top: 20px;
      text-align: justify;
      white-space: pre-wrap;
    }

    & > footer {
      margin-top: 20px;
      text-align: right;
    }
  }
}